<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>controller.AuthorsServlet</servlet-name>
        <servlet-class>controller.AuthorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonationViewServlet</servlet-name>
        <servlet-class>controller.DonationViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonationViewUpdate</servlet-name>
        <servlet-class>controller.DonationViewUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.DiscountViewServlet</servlet-name>
        <servlet-class>controller.DiscountViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountViewUpdate</servlet-name>
        <servlet-class>controller.DiscountViewUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SubscriptionMsgsServlet</servlet-name>
        <servlet-class>controller.SubscriptionMsgsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriptionMsgsDeleteServlet</servlet-name>
        <servlet-class>controller.SubscriptionMsgsDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriptionServlet</servlet-name>
        <servlet-class>controller.SubscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriptionDeleteServlet</servlet-name>
        <servlet-class>controller.SubscriptionDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriptionAddServlet</servlet-name>
        <servlet-class>controller.SubscriptionAddServlet</servlet-class>
    </servlet>
    <!---->
    <servlet-mapping>
        <servlet-name>controller.AuthorsServlet</servlet-name>
        <url-pattern>/AuthorsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonationViewServlet</servlet-name>
        <url-pattern>/DonationViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonationViewUpdate</servlet-name>
        <url-pattern>/DonationViewUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.DiscountViewServlet</servlet-name>
        <url-pattern>/DiscountViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountViewUpdate</servlet-name>
        <url-pattern>/DiscountViewUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SubscriptionMsgsServlet</servlet-name>
        <url-pattern>/SubscriptionMsgsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriptionMsgsDeleteServlet</servlet-name>
        <url-pattern>/SubscriptionMsgsDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriptionServlet</servlet-name>
        <url-pattern>/SubscriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriptionDeleteServlet</servlet-name>
        <url-pattern>/SubscriptionDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriptionAddServlet</servlet-name>
        <url-pattern>/SubscriptionAddServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SurplusProductsServlet</servlet-name>
        <servlet-class>controller.SurplusProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurplusProductsServlet</servlet-name>
        <url-pattern>/surplus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt-rt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core-rt</taglib-uri>
            <taglib-location>/WEB-INF/tld/c-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
            <taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/sql-rt</taglib-uri>
            <taglib-location>/WEB-INF/tld/sql-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/x</taglib-uri>
            <taglib-location>/WEB-INF/tld/x.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/x-rt</taglib-uri>
            <taglib-location>/WEB-INF/tld/x-rt.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>